<html>
    <head>
        <link rel="stylesheet" href="../../styles/main.css" />
        <link rel="stylesheet" href="./style.css" />

        <script src="./src/app.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="content">
                <div class="center">
                    <h3>GO ATTACK</h3>

                    <div class="form-input">
                        <label>Room name:</label>
                        <input type="text" id="room" />
                    </div>
                    <a id="start" class="start-btn">Start</a>
                </div>
            </div>
        </div>
    </body>
</html>