<html>
    <head>
        <link rel="stylesheet" href="../../styles/main.css" />

        <script src="../../assets/peerjs2.min.js"></script>
        <script src="../../assets/socket.io.min.js"></script>

        <script src="./src/utils/peerBuilder.js"></script>
        <script src="./src/utils/socketBuilder.js"></script>
        <script src="./src/utils/utils.js"></script>
        <script src="./src/utils/player.js"></script>
        <script src="./src/view.js"></script>
        <script src="./src/business.js"></script>
        <script src="./src/app.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="content">
                <div id="game"></div>    
            </div>
        </div>
    </body>
</html>