html {
    background:#0d1117;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 800px;
    height: 500px;
    background: #eee;
    border: 5px outset  #bbb;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}